// Buttons 
// -----------------------------------------------
// -----------------------------------------------
.button {
    display: inline-block;
    font-weight: $font-semibold;
    text-decoration: none;
    text-transform: uppercase;
    background: none;
    color: $white;
    border: 2px solid rgba($white, 0.7);
    transition: background $base-duration $base-timing;

    &:visited {
        color: $white;
    }
    &:hover {
        color: $brand-secondary;
        background: $white;
        text-decoration: none;
    }
    &:active {
        background: $white;
    }

    &.button-large {
        padding: ($base-point-grid * 1.2) ($base-point-grid * 3);
        font-size: .875rem;
    }
} 