// Content 
// -----------------------------------------------
// -----------------------------------------------
#content {
    background: $white;
    .features {
        padding: ($base-point-grid * 10) 0;
        @include flexbox;
        .feature-item {
            &:nth-child(1),
            &:nth-child(2) {
                padding-right: ($base-point-grid * 3);
            }
            &:nth-child(2) {
                padding-left: ($base-point-grid * 3);
            }

            &:nth-child(3) {
                padding-left: ($base-point-grid * 3);
            }

            @include flex(1);
            text-align: center;
            img {
                margin-bottom: ($base-point-grid * 2);
            }
            h3 {
                margin-bottom: $base-point-grid;
                text-transform: uppercase;
                font-size: 1.067rem;
                font-weight: $font-semibold;
                color: $gray-primary;
            }

            p {
                color: $gray-secondary;
            }
        }
    }
}

// Responsive mode
@include bp(small) {
    .features {
        @include flex-wrap(wrap);
        .feature-item {
            @include flex(0 0 100%);
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) {
                padding: 0;
            }
            margin-bottom: ($base-point-grid * 5);
            padding: 0;
        }
    }
}