// Typography
// -----------------------------------------------------
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700");

$brand-primary: #001e38;

// Typography
$font-family: "Montserrat", sans-serif;
$title-font-family: "Montserrat", sans-serif;

body {
  color: $brand-primary;
  font-family: $font-family;
}

.docs {
  background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
#masthead,
#site-main,
#site-footer,
#navigation,
.docs #sidebar-wrapper #sidebar-brand,
.docs #sidebar-wrapper .sidebar-nav .sidebar-nav-item a,
.docs #sidebar-wrapper .sidebar-nav .sidebar-nav-item button {
  font-family: $title-font-family;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $brand-primary;
  font-weight: 600;
}

.docs #sidebar-wrapper #sidebar-brand a span {
  font-size: 1.5rem;
  font-weight: 600;
}

.docs #page-content-wrapper section {
  margin: 0;
}

.docs #page-content-wrapper section pre code {
  background-color: #f5f6f7;
  border: solid 1px #f5f6f7;
}
